.yzj-header
	height 35em
	padding-top 15%
	margin-bottom 2em
	background-image url(../img/headerbg.jpg)
	background-size cover
	color #fff
	text-align center

.navbar-default
	position absolute
	background-color transparent

.navbar-default .navbar-nav
	li a
		&:hover
			background-color transparent
	li.active a
		background-color transparent
		&:hover
			background-color transparent
