.yzj-header
	height 35em
	padding-top 10em
	margin-bottom 2em
	background-image url(../img/headerbg.jpg)
	background-size cover
	color #fff
	text-align center
	h1
		font-size 4em
		margin-bottom 1em
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	h3
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	a
		color white

.navbar-default
	position absolute
	background-color transparent

.navbar-default .navbar-nav
	li a
		&:hover
			background-color transparent
	li.active a
		background-color transparent
		&:hover
			background-color transparent
