.yzj-header
	height 30em
	padding-top 10em
	margin-bottom 2em
	background-image url(../img/headerbg.jpg)
	background-size cover
	color #fff
	text-align center

.navbar-default
	position absolute
	background-color transparent
